<div [hidden]="listParticipante == null || listParticipante.length == 0">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Apelido</th>
        <th style="width: 190px;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participante of listParticipante[0]; let i = index" >
        <td>{{ i+1 }}</td>
        <td>{{ participante.nome }}</td>
        <td>{{ participante.apelido }}</td>
        <td style="width: 190px;">

          <button class="button is-link is-outlined is-warning" (click)="editarParticipante(participante._id)" style="margin-right: 10px;">
              Editar
          </button>

          <button class="button is-link is-outlined is-danger" (click)="excluirParticipante(participante._id)" >
              Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div [hidden]="listParticipante != null && listParticipante.length > 0">
  Não há participantes.
</div>

<br>

<div class="buttons" style="float: right; margin-right: 15px;">
  <button class="button is-link is-outlined" (click)="novoParticipante()">Novo Participante</button>
</div>
