<div>
  <form method="POST">
      <fieldset name=" Participante ">
        <legend><b> Participant </b></legend>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input id="nome" class="input" type="text" placeholder="Nome do participante" required [(ngModel)]="participante.nome" name="nome">
          </div>
          
        </div>
        <div class="field">
          <label class="label">Nickname</label>
          <div class="control">
            <input id="apelido" class="input" type="text" placeholder="Apelido do participante" required [(ngModel)]="participante.apelido" name="apelido">
            
          </div>
        </div>
      </fieldset>
      <br>
      <div class="field is-grouped is-grouped-right">
          <div class="buttons">
            <button class="button is-primary" (click)="salvarParticipante()" type="submit" >
              Save Participant
            </button>

            <button class="button is-light" (click)="cancelarInclusaoPombo()" type="reset" >
              Cancel
            </button>
          </div>
      </div>
  </form>
</div>
