
<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="home()" >Home</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="pomboSujo()" >Participantes</a>
  </p>
  <p class="level-item has-text-centered">
    <img src="../../../assets/img/ohmycakelogo.png" alt="" style="height: 150px;">
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="sorteio()" >Sorteios</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Sobre</a>
  </p>
</nav>
