
<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="home()">Home</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="participant()">Participants</a>
  </p>
  <p class="level-item has-text-centered">
    <img src="../../../assets/img/ohmycakelogo.png" alt="" style="height: 150px;">
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="sortition()">Sortitions</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" (click)="cake()">Cakes</a>
  </p>
</nav>
